Django
psycopg2-binary

python-dateutil
pytz

uWSGI

simpleeval

djangorestframework
djangorestframework-gis
django-filter
django-crispy-forms
markdown
Pygments

celery
django-celery-beat
redis
django-redis
django-redisboard

django-ipware
django-extensions

channels
channels_redis
cryptography
